*.apk
*.ap_
*.dex
*.class
bin/
gen/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/

*.iml
.idea/workspace.xml
.idea/libraries
.idea/modules.xml
.idea/.name
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

*.jks

google-services.json

*.hprof

appInsightsSetting
compiler/
deployment/
gradle/
kotlinc/
migrations/
misc/
Project_Default/
vsc/

.vscode/

.env

*.log

.DS_Store

Thumbs.db

*~